* {
    margin: 0;
    padding: 0;
    
}

header {
    width: 100%;
    height: 60%;
    background-color: #F3F5FC;
}

header img {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 8px;
}

main {
    width: 100%;
    height: 800px;
    background-color: #F3F5FC;
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #F3F5FC;
}

section {
    height: 100%;
}

.seccion1 {
    width: 60%;
    
}

.seccion2 {
    width: 40%;
}

.textInput {
    display: flex;
    width: 680px;
    height: 700px;
    margin-left: 300px;
    left: 150px;
    top: 168px;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border-left: #F3F5FC;
    border-top: #F3F5FC;
    border-color: #F3F5FC;
    background-color: #F3F5FC;
    box-shadow: none;
    text-shadow: none;
}

.botones1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    margin-left: 300px;
    margin-top: 10px;
    width: 680px;
    height: 67px;
    left: 240px;
    
}

.caja {
    display: block;
    width: 400px;
    height: 800px;
    background-color: #ffff;
    border-radius: 24px;
}

.btnEncriptar {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #0A3871;
    color: #F3F5FC;
    font-size: 15px;
}

.btnDesencriptar {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-size: 15px;
}

.textDisplay {
    width: 360px;
    height: 670px;
    margin: 20px;
    border: #F3F5FC;
    font-weight: 400;
    font-size: 32px;
    color: #7a7a7a;
    text-align: center;
}

.btnCopiar {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #ffffff;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-size: 15px;
    margin-left: 40px;
}

.p {
    position: absolute;
    margin-left: 100px;
}